<a href="https://colab.research.google.com/github/bharathyadav524/PYTHON-EXAMPLES/blob/main/BHARATH9392499611.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
log = print
log("Bharath kumar")

Bharath kumar

POWER OF TWO NUMBERS

In [ ]:
import math
#USING OPERATOR
base =2
exponent=3
power=base**exponent
print(power)
#using pow() function
base=2
exponent=3
power=math.pow(base,exponent)
print(power)
#using loop
base=2
exponent=3
power=1
for _ in range(exponent):
  power *= base
print(power)
#using pow()
base=2
exponent=3
power=pow(base,exponent)
print(power)

8
8.0
8
8

TWO SUM PROBLEM

In [ ]:
class Solution:
  def twosum(self,nums,target):
    for i in range(len(nums)):
      for j in range(i+1,len(nums)):
        if nums[i]+nums[j]==target:
          return[i,j]
    return[]
s=Solution()
nums=[2,7,11,15]
target=17
s.twosum(nums,target)

[0, 3]

SUM OF 100 EVEN NUMBERS

In [ ]:
#using CONDITIONAL
n=int(input("enter a number"))
sum=0
for i in range(1,n+1):
  if i%2==0:
    sum +=i
print(sum)

#using LOOP
n=int(input("Enter a number : "))
sum=0
for  i in range(2,n+1,2):
  sum +=i
print(sum)


#using ARITHMETIC PROGRESSION FORMULA
n=int(input("Enter a number : "))
num_even  =  n//2
sum_even  =  num_even*(num_even+1)
print(sum_even)

enter a number100
2550
Enter a number : 100
2550
Enter a number : 100
2550

SUM OF 100 ODD NUMBERS

In [ ]:
n=int(input("enter a number"))
sum=0
for i in range(1,n+1):
  if i%2==1:
    sum +=i
print(sum)

enter a number100
2500

PALINDROME

In [ ]:
#FOR STRING
class Solution:
  def is_palindrome(self,p):
    str_p=str(p)
    if str_p==str_p[::-1]:
      print("Palindrome")
    else:
      print("Not palindrome")
s=Solution()
p=input("Enter a String : ")
s.is_palindrome(p)

Enter a String : 121
Palindrome

PALINDROME NUMBER

In [ ]:
def is_palindrome_num(num):
  original_num=num
  reverse=0
  while num>0:
    remainder=num%10
    reverse=reverse*10+remainder
    num=num//10
  return original_num==reverse
is_palindrome_num(101)

True

FACTORIAL

In [ ]:
#using LOOP
def  factor_ial(n):
  result=1
  for i in range(1,n+1):
    result *=i
  return result
n=int(input("Enter a number : "))
print(factor_ial(n))


#using RECURSION
def factor_ial2(n):
  if n==0 or n==1:
    return 1
  else:
    return n*factor_ial2(n-1)
n=int(input("Enter a Number : "))
print(factor_ial2(n))

#using MATH Function
import math
n=int(input("Enter a number : "))
print(math.factorial(n))


#using LAMBDA "REDUCE"
from functools import reduce
def factorial4(n):
  return reduce(lambda x,y:x*y,range(1,n+1,1))
n=int(input("Enter a number : "))
print(factorial4(n))

#without recursion
n=int(input("Enter a Number : "))
fact=1
for i in range(1,n+1):
  fact *=i
print(fact)

Enter a number : 5
120
Enter a Number : 5
120
Enter a number : 5
120
Enter a number : 5
120
Enter a Number : 5
120

REVERSE A NUMBER OR A STRING

In [ ]:
#using slicing
def reverse_num(n):
  str_n=str(n)
  str_p=str_n[::-1]
  rev_n=int(str_p)     #type casting
  return rev_n
n=int(input("Enter a number : "))
reverse_num(n)

Enter a number : 123

321

SWAP TWO NUMBERS

In [ ]:
#using Python Style
a=int(input("Enter a number : "))
b=int(input("Enter b number : "))
a,b=b,a
print(f"A value is {a} and B value is {b}")

#using Addition and Subtraction
a=int(input("Enter a number : "))
b=int(input("Enter b number : "))
a=a+b
b=a-b
a=a-b
print(f"A value is {a} and B value is {b}")

#using Multiplication and Division
a=int(input("Enter a number : "))
b=int(input("Enter b number : "))
a=a*b
b=a/b
a=a/b
print(f"A value is {a} and B value is {b}")


#using Carot ^
a=int(input("Enter a number : "))
b=int(input("Enter b number : "))
a=a^b
b=a^b
a=a^b
print(f"A value is {a} and B value is {b}")

#using TEMP VARIABLE
a=int(input("Enter a number : "))
b=int(input("Enter b number : "))
temp=a
a=b
b=temp
print(f"A value is {a} and B value is {b}")

Enter a number : 3
Enter b number : 4
A value is 4 and B value is 3
Enter a number : 3
Enter b number : 2
A value is 2 and B value is 3
Enter a number : 4
Enter b number : 2
A value is 2.0 and B value is 4.0
Enter a number : 3
Enter b number : 1
A value is 1 and B value is 3

AVERAGE

In [ ]:
numbers = [1, 2, 3, 4, 5]
sum=0
for i in numbers:
  sum +=i
average = sum/len(numbers)
print(f"Average: {average}")

Average: 3.0

TABLES

In [ ]:
n=int(input("Enter a number :"))
for i in range(1,11):
  print(f"{n}x{i}={n*i}")

Enter a number :6
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54
6x10=60

PRIME NUMBER

In [ ]:
# A number which is multiple by 1 and itself eg:2,3,5,7,11,13,17,19,23
n=int(input("Enter a number : "))
count=0
if n>1:
  for i in range(1,n+1):
    if n%i == 0:
      count +=1
  if count == 2:
    print("Prime Number ")
  else:
    print("Not a Prime Number")

Enter a number : 23
Prime Number

FIBONACCI SERIES

In [ ]:
''' it is a series of numbers in which each number
 (known as a fibonacci number)is the sum of the two preceding ones,usually starting with 0 and 1
 f(0)=0
 f(1)=1
 f(n)=f(n-1)+f(n-2)
 each number in the fibonacci series is the sum of the previous two numbers'''


n1=0
n2=1
print(n1)
print(n2)
for i in range(2,10):
  sum=n1+n2
  print(sum)
  n1=n2
  n2=sum




def generate_fibonacci(n):
    fibonacci_series = [0, 1]
    for i in range(2, n):
        next_number = fibonacci_series[-1] + fibonacci_series[-2]
        fibonacci_series.append(next_number)
    return fibonacci_series
# Specify the number of terms you want in the Fibonacci series
number_of_terms = 10
# Generate and print the Fibonacci series
fibonacci_result = generate_fibonacci(number_of_terms)
print(f"Fibonacci Series (first {number_of_terms} terms):")
print(fibonacci_result)

Fibonacci Series (first 10 terms):
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

GCD OF TWO NUMBERS

In [ ]:
#Greatest Common Divisor
def gcd(a,b):
  while b:
    a,b=b,a%b
  return a
a=int(input("Enter a number : "))
b=int(input("Enter b number : "))
print(gcd(a,b))


import math

# Given numbers
num1 = 5
num2 = 7

# Calculate GCD using math.gcd
gcd_result = math.gcd(num1, num2)

print(f"The GCD of {num1} and {num2} is: {gcd_result}")

Enter a number : 5
Enter b number : 7
The GCD of 5 and 7 is: 1

LCM  LEAST COMMON MULTIPLE

In [ ]:
def gcd(a,b):
  while b:
    a,b=b,a%b
  return a
def lcm(a,b):
  return (a*b)
a=int(input("Enter a number : "))
b=int(input("Enter b number : "))
lcm(a,b)

Enter a number : 5
Enter b number : 7

35

COUNT OF VOWELS ABD CONSONANTS

In [ ]:
def count_v_c(s):
  vowels="AEIOUaeiou"
  num_vowels=sum(1 for char in s if char in vowels)
  num_consonants=len(s)-num_vowels
  return num_vowels,num_consonants
s=input("Enter String : ")
vowels,consonants=count_v_c(s)
print("Vowels",vowels)
print("Consonants",consonants)

Enter String : lakshmi
Vowels 2
Consonants 5

REVERSE A LIST OF ITEMS

In [ ]:
def reverse_list(n):
  start=0
  end=len(n)-1
  while start <end:
    n[start],n[end]=n[end],n[start]
    start +=1
    end -=1
n=[1,2,3,4,5]
print(n)
reverse_list(n)
print(n)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

REMOVE DUPLICATES FROM LIST

In [ ]:
def remove_duplicates(n):
  seen=set()
  output_list=[]
  for item in n:
    if item not in seen:
      output_list.append(item)
      seen.add(item)
  return output_list
n=[1,2,2,3,4,5,5,6,7,8,9,9]
new_list=remove_duplicates(n)
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

CAPITALIZE FIRST LETTER IN A SENTENCE

In [ ]:
def capitalize_words(sentence):
  words=sentence.split()
  capitalized_words=[word.capitalize() for word in words]
  return ' '.join(capitalized_words)
sentence=input("Enter a Sentence : ")
capitalize_words(sentence)

Enter a Sentence : bharath kumar yadav

'Bharath Kumar Yadav'

CHARACTER COUNT IN A STRING

In [17]:
#using Count function its find only particular character only
string1=input("Enter a String : ")
char=input("Enter the character to count : ")
count=string1.count(char)
print(f"{char} occurs {count} times in the String.")


#it find all the characters count
def count_characters(input_string):
  char_count={}
  for char in input_string:
    if char in char_count:
      char_count[char] +=1
    else:
      char_count[char]=1
  return char_count
input_string=input("Enter a String : ")
result=count_characters(input_string)
for char,count in result.items():
  print(f"{char} appears {count} times")

h occurs 12 times in the String.
Enter a String : bharath
b appears 1 times
h appears 2 times
a appears 2 times
r appears 1 times
t appears 1 times

LARGEST VALUE IN AN ARRAY OR LIST

In [ ]:
def find_nth_highest_salary(salaries, n):
    # Remove duplicates by converting the list to a set
    unique_salaries = set(salaries)
    # Check if there are at least N unique elements
    if len(unique_salaries) < n:
        return f"The list doesn't have at least {n} unique salaries."
    # Find the Nth highest salary
    nth_highest_salary = sorted(unique_salaries, reverse=True)[n - 1]
    return nth_highest_salary
# Example list of salaries
salary_list = [50000, 60000, 55000, 70000, 60000, 80000, 70000]
n=int(input("Enter a Number Which You want : "))
# Find and print the nth highest salary
nth_highest_salary = find_nth_highest_salary(salary_list, n)
print(f"The nth highest salary is: {nth_highest_salary}")

Enter a Number Which You want : 8
The 3rd highest salary is: The list doesn't have at least 8 unique salaries.

SMALLEST VALUE IN AN ARRAY OR LIST

In [19]:
def find_nth_smallest_value(values, n):
    # Remove duplicates by converting the list to a set
    unique_values = set(values)

    # Check if there are at least N unique elements
    if len(unique_values) < n:
        return f"The list doesn't have at least {n} unique values."

    # Find the Nth smallest value
    nth_smallest_value = sorted(unique_values)[n - 1]
    return nth_smallest_value

# Example list of values
value_list = [10, 5, 8, 15, 7, 10, 12]
n=int(input("Enter a Number Which You want : "))
# Find and print the nth smallest value
nth_smallest_value = find_nth_smallest_value(value_list, n)
print(f"The nth smallest value is: {nth_smallest_value}")

Enter a Number Which You want : 2
The nth smallest value is: 7

CHECK A YEAR LEAF YEAR OR NOT

In [18]:
year=int(input("Enter a year  :"))
if(year %4 == 0 and year %100 != 0) or (year %100 ==0):
  print(f" {year} is Leaf Year ")
else:
  print(f"{year} is Not a Leaf Year")

Enter a year  :2024
 2024 is Leaf Year

ASCII VALUE OF A CHARACTER

In [3]:
char=input("Enter a character : ")
ascii_value=ord(char)
print(f"ASCII value of {char} : {ascii_value}")

Enter a character : A
ASCII value of A : 65

ARMSTRONG NUMBER

In [5]:
'''An Armstrong number is a special type of number. To check if a number
is an Armstrong number, you follow these steps:

Count the Digits:
Find out how many digits are there in the number.

Raise Each Digit to the Power of the Total Digits:
Take each digit in the number and raise it to the power of the total number of digits.

Sum the Results:
Add up all these results from step 2.

Check if the Sum is Equal to the Original Number:
If the sum from step 3 is equal to the original number, then the number is an Armstrong number.

Here's a simple example with the number 153:
Number: 153
Digits: 3'''


num=int(input("Enter a number : "))
num_str=str(num)
num_digits=len(num_str)
digit_sum=sum(int(digit)**num_digits for digit in num_str)
if num == digit_sum:
  print(f"{num} is Armstrong Number")
else:
  print(f"{num} is Not Armstrong Number")

Enter a number : 153
153 is Armstrong Number

SUM OF ELEMENTS IN AN ARRAY

In [8]:
#using Sum Function
arr=[1,2,3,4,5]
total = sum(arr)
print(total)
total=sum(arr,10)
print(total)



# Example array
my_array = [10, 5, 8, 15, 7, 10, 12]
# Initialize a variable to store the sum
array_sum = 0
# Loop through each element and add it to the sum
for element in my_array:
    array_sum += element
# Print the result
print(f"The sum of elements in the array is: {array_sum}")

15
25
The sum of elements in the array is: 67

MINIMUM AND MAXIMUM ELEMENT IN AN ARRAY OR LIST

In [12]:
#MAXIMUM Element
arr=[1,2,3,4,5,10]
max=arr[0]
for i in range(1,len(arr)):
  if arr[i]> max:
    max=arr[i]
print(max)


arr=[1,2,3,4,5,10]
min=arr[0]
for i in range(1,len(arr)):
  if arr[i]<min:
    min=arr[i]
print(min)

10
1

LENGTH OF AN ARRAY

In [15]:
#using Length function
arr=[1,2,4,3,5,1,3,5,6,7,8]
print(len(arr))

#using count method
arr=[1,2,4,3,5,1,3,5,6,7,8]
count=0
for i in arr:
  count +=1
print(count)

11
11

SEARCH A ELEMENT IN AN ARRAY

In [22]:
arr=[1,2,3,4,5,2,1,13,6,8,90]
element=int(input("Enter a Element : "))
flag=0
for i in arr:
  if (i==element):
    print("Element found")
    falg=1
    break


  #using   IN operation
arr=[1,2,3,4,5,2,1,13,6,8,90]
element=int(input("Enter a Element : "))
if element in arr:
  print(f"{element}  Element is  Found")
else:
  print(f"{element}  Element is Not Found")

Enter a Element : 8
element found
Enter a Element : 8
8  Element is  Found

TUPLE PACKING AND UNPACKING

In [25]:
#tuple packing
pack="Bharath","Kumar","Yadav"
print(pack)
print(type(pack))



#tuple unpacking
pack="Bharath",20,"Student"
name,age,ocupation=pack
print(name)
print(age)
print(ocupation)

<class 'tuple'>
Bharath
20
Student

COMPARE TWO VALUES ARE POINTING SAME OBJECT

In [29]:
a=10
b=10
print(a is b) #using IS operator
result = id(a)==id(b) # using Id For Campare two Values
print(result)

True
True

USE OF ELSE IN FOR LOOP

In [30]:
fruits=["apple","mango","grapes","cherry"]
for fruit in fruits:
  if fruit == "orange":
    print(f"{fruit} is Found")
    break
  else:
    print(f"{fruit} is not found")

apple is not found
mango is not found
grapes is not found
cherry is not found

USE OF ELSE IN WHILE LOOP

In [32]:
count =0
while count <5:
  print(f"Count is {count}")
  count +=1
else:
  print("Loop Completed without encountering a break statement")

Count is 0
Count is 1
Count is 2
Count is 3
Count is 4
Loop Completed without encountering a break statement

CHECK PYTHON VERSION

In [33]:
import sys
python_version=sys.version
print("Python Version is : ",python_version)

Python Version is :  3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]

REFRENCES POINTING TO A PARTICULAR OBJECT

In [37]:
import sys
my_list=[1,2,3,[1,2]]
ref_count=sys.getrefcount(my_list)
actual_count=ref_count-1
print(actual_count)


x="Bharath Yadav"
y=x
print(sys.getrefcount(x))

1
4

DISPOSE A VARIABLE

In [39]:
a =10
print(a)
del a
print(a)

10

NameError: name 'a' is not defined

SEPERATE A LIST OF VALUES INTO A COMMA SEPERATED VALUES

In [40]:
my_list=[1,2,3,4,5]
comma_seperated_string=','.join(map(str,my_list))
print(comma_seperated_string)

1,2,3,4,5

DIFFERENCE BETWEEN APPEND AND EXTEND

In [44]:
#append
arr=[10,20,30]
arr.append(40)
print(arr)
arr.append([50,60])
print(arr)
#extend
arr=[10,20,30]
print(arr)
arr.extend([50,60])
print(arr)

[10, 20, 30, 40]
[10, 20, 30, 40, [50, 60]]
[10, 20, 30]
[10, 20, 30, 50, 60]

MERGE TWO DICTS

In [46]:
dict1={'a':1,'b':2}
dict2={'c':3,'d':4}
dict1.update(dict2)
print(dict1)

#using Exponent

dict1={'a':1,'b':2}
dict2={'c':3,'d':4}
merge={**dict1,**dict2}
print(merge)

#using   | operator
dict1={'a':1,'b':2}
dict2={'c':3,'d':4}
merge = dict1| dict2
print(merge)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

HOW TO GENERATE RANDOM NUMBERS

In [54]:
#using random value
import random
random_number=random.random()
print(random_number)

#using randint
import random
random_number=random.randint(1,10)
print(random_number)

#using shuffle
my_list=[1,2,3,5,7]
random.shuffle(my_list)
print(my_list)

#using choice
my_list=[1,2,3,5,7]
choice=random.choice(my_list)
print(choice)

0.8043548311255034
1
[3, 1, 7, 5, 2]
3

CURRENT DATE AND TIME

In [55]:
import datetime
current_datetime=datetime.datetime.now()
print(current_datetimeb )

2024-01-07 15:23:46.898451