<a href="https://colab.research.google.com/github/bharathyadav524/PYTHON-EXAMPLES/blob/main/BHARATH9392499611.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
log = print
log("Bharath kumar")

Bharath kumar

POWER OF TWO NUMBERS

In [ ]:
import math
#USING OPERATOR
base =2
exponent=3
power=base**exponent
print(power)
#using pow() function
base=2
exponent=3
power=math.pow(base,exponent)
print(power)
#using loop
base=2
exponent=3
power=1
for _ in range(exponent):
  power *= base
print(power)
#using pow()
base=2
exponent=3
power=pow(base,exponent)
print(power)

8
8.0
8
8

TWO SUM PROBLEM

In [ ]:
class Solution:
  def twosum(self,nums,target):
    for i in range(len(nums)):
      for j in range(i+1,len(nums)):
        if nums[i]+nums[j]==target:
          return[i,j]
    return[]
s=Solution()
nums=[2,7,11,15]
target=17
s.twosum(nums,target)

[0, 3]

SUM OF 100 EVEN NUMBERS

In [ ]:
#using CONDITIONAL
n=int(input("enter a number"))
sum=0
for i in range(1,n+1):
  if i%2==0:
    sum +=i
print(sum)

#using LOOP
n=int(input("Enter a number : "))
sum=0
for  i in range(2,n+1,2):
  sum +=i
print(sum)


#using ARITHMETIC PROGRESSION FORMULA
n=int(input("Enter a number : "))
num_even  =  n//2
sum_even  =  num_even*(num_even+1)
print(sum_even)

enter a number100
2550
Enter a number : 100
2550
Enter a number : 100
2550

SUM OF 100 ODD NUMBERS

In [ ]:
n=int(input("enter a number"))
sum=0
for i in range(1,n+1):
  if i%2==1:
    sum +=i
print(sum)

enter a number100
2500

PALINDROME

In [ ]:
#FOR STRING
class Solution:
  def is_palindrome(self,p):
    str_p=str(p)
    if str_p==str_p[::-1]:
      print("Palindrome")
    else:
      print("Not palindrome")
s=Solution()
p=input("Enter a String : ")
s.is_palindrome(p)

Enter a String : 121
Palindrome

PALINDROME NUMBER

In [ ]:
def is_palindrome_num(num):
  original_num=num
  reverse=0
  while num>0:
    remainder=num%10
    reverse=reverse*10+remainder
    num=num//10
  return original_num==reverse
is_palindrome_num(101)

True

FACTORIAL

In [ ]:
#using LOOP
def  factor_ial(n):
  result=1
  for i in range(1,n+1):
    result *=i
  return result
n=int(input("Enter a number : "))
print(factor_ial(n))


#using RECURSION
def factor_ial2(n):
  if n==0 or n==1:
    return 1
  else:
    return n*factor_ial2(n-1)
n=int(input("Enter a Number : "))
print(factor_ial2(n))

#using MATH Function
import math
n=int(input("Enter a number : "))
print(math.factorial(n))


#using LAMBDA "REDUCE"
from functools import reduce
def factorial4(n):
  return reduce(lambda x,y:x*y,range(1,n+1,1))
n=int(input("Enter a number : "))
print(factorial4(n))

#without recursion
n=int(input("Enter a Number : "))
fact=1
for i in range(1,n+1):
  fact *=i
print(fact)

Enter a number : 5
120
Enter a Number : 5
120
Enter a number : 5
120
Enter a number : 5
120
Enter a Number : 5
120

REVERSE A NUMBER OR A STRING

In [ ]:
#using slicing
def reverse_num(n):
  str_n=str(n)
  str_p=str_n[::-1]
  rev_n=int(str_p)     #type casting
  return rev_n
n=int(input("Enter a number : "))
reverse_num(n)

Enter a number : 123

321

SWAP TWO NUMBERS

In [ ]:
#using Python Style
a=int(input("Enter a number : "))
b=int(input("Enter b number : "))
a,b=b,a
print(f"A value is {a} and B value is {b}")

#using Addition and Subtraction
a=int(input("Enter a number : "))
b=int(input("Enter b number : "))
a=a+b
b=a-b
a=a-b
print(f"A value is {a} and B value is {b}")

#using Multiplication and Division
a=int(input("Enter a number : "))
b=int(input("Enter b number : "))
a=a*b
b=a/b
a=a/b
print(f"A value is {a} and B value is {b}")


#using Carot ^
a=int(input("Enter a number : "))
b=int(input("Enter b number : "))
a=a^b
b=a^b
a=a^b
print(f"A value is {a} and B value is {b}")

#using TEMP VARIABLE
a=int(input("Enter a number : "))
b=int(input("Enter b number : "))
temp=a
a=b
b=temp
print(f"A value is {a} and B value is {b}")

Enter a number : 3
Enter b number : 4
A value is 4 and B value is 3
Enter a number : 3
Enter b number : 2
A value is 2 and B value is 3
Enter a number : 4
Enter b number : 2
A value is 2.0 and B value is 4.0
Enter a number : 3
Enter b number : 1
A value is 1 and B value is 3

AVERAGE

In [ ]:
numbers = [1, 2, 3, 4, 5]
sum=0
for i in numbers:
  sum +=i
average = sum/len(numbers)
print(f"Average: {average}")

Average: 3.0

TABLES

In [ ]:
n=int(input("Enter a number :"))
for i in range(1,11):
  print(f"{n}x{i}={n*i}")

Enter a number :6
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54
6x10=60

PRIME NUMBER

In [ ]:
# A number which is multiple by 1 and itself eg:2,3,5,7,11,13,17,19,23
n=int(input("Enter a number : "))
count=0
if n>1:
  for i in range(1,n+1):
    if n%i == 0:
      count +=1
  if count == 2:
    print("Prime Number ")
  else:
    print("Not a Prime Number")

Enter a number : 23
Prime Number

FIBONACCI SERIES

In [ ]:
''' it is a series of numbers in which each number
 (known as a fibonacci number)is the sum of the two preceding ones,usually starting with 0 and 1
 f(0)=0
 f(1)=1
 f(n)=f(n-1)+f(n-2)
 each number in the fibonacci series is the sum of the previous two numbers'''


n1=0
n2=1
print(n1)
print(n2)
for i in range(2,10):
  sum=n1+n2
  print(sum)
  n1=n2
  n2=sum




def generate_fibonacci(n):
    fibonacci_series = [0, 1]
    for i in range(2, n):
        next_number = fibonacci_series[-1] + fibonacci_series[-2]
        fibonacci_series.append(next_number)
    return fibonacci_series
# Specify the number of terms you want in the Fibonacci series
number_of_terms = 10
# Generate and print the Fibonacci series
fibonacci_result = generate_fibonacci(number_of_terms)
print(f"Fibonacci Series (first {number_of_terms} terms):")
print(fibonacci_result)

Fibonacci Series (first 10 terms):
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

GCD OF TWO NUMBERS

In [ ]:
#Greatest Common Divisor
def gcd(a,b):
  while b:
    a,b=b,a%b
  return a
a=int(input("Enter a number : "))
b=int(input("Enter b number : "))
print(gcd(a,b))


import math

# Given numbers
num1 = 5
num2 = 7

# Calculate GCD using math.gcd
gcd_result = math.gcd(num1, num2)

print(f"The GCD of {num1} and {num2} is: {gcd_result}")

Enter a number : 5
Enter b number : 7
The GCD of 5 and 7 is: 1

LCM  LEAST COMMON MULTIPLE

In [ ]:
def gcd(a,b):
  while b:
    a,b=b,a%b
  return a
def lcm(a,b):
  return (a*b)
a=int(input("Enter a number : "))
b=int(input("Enter b number : "))
lcm(a,b)

Enter a number : 5
Enter b number : 7

35

COUNT OF VOWELS ABD CONSONANTS

In [ ]:
def count_v_c(s):
  vowels="AEIOUaeiou"
  num_vowels=sum(1 for char in s if char in vowels)
  num_consonants=len(s)-num_vowels
  return num_vowels,num_consonants
s=input("Enter String : ")
vowels,consonants=count_v_c(s)
print("Vowels",vowels)
print("Consonants",consonants)

Enter String : lakshmi
Vowels 2
Consonants 5

REVERSE A LIST OF ITEMS

In [ ]:
def reverse_list(n):
  start=0
  end=len(n)-1
  while start <end:
    n[start],n[end]=n[end],n[start]
    start +=1
    end -=1
n=[1,2,3,4,5]
print(n)
reverse_list(n)
print(n)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

REMOVE DUPLICATES FROM LIST

In [ ]:
def remove_duplicates(n):
  seen=set()
  output_list=[]
  for item in n:
    if item not in seen:
      output_list.append(item)
      seen.add(item)
  return output_list
n=[1,2,2,3,4,5,5,6,7,8,9,9]
new_list=remove_duplicates(n)
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

CAPITALIZE FIRST LETTER IN A SENTENCE

In [ ]:
def capitalize_words(sentence):
  words=sentence.split()
  capitalized_words=[word.capitalize() for word in words]
  return ' '.join(capitalized_words)
sentence=input("Enter a Sentence : ")
capitalize_words(sentence)

Enter a Sentence : bharath kumar yadav

'Bharath Kumar Yadav'

CHARACTER COUNT IN A STRING

In [ ]:
#using Count function its find only particular character only
string1=input("Enter a String : ")
char=input("Enter the character to count : ")
count=string1.count(char)
print(f"{char} occurs {count} times in the String.")


#it find all the characters count
def count_characters(input_string):
  char_count={}
  for char in input_string:
    if char in char_count:
      char_count[char] +=1
    else:
      char_count[char]=1
  return char_count
input_string=input("Enter a String : ")
result=count_characters(input_string)
for char,count in result.items():
  print(f"{char} appears {count} times")

h occurs 12 times in the String.
Enter a String : bharath
b appears 1 times
h appears 2 times
a appears 2 times
r appears 1 times
t appears 1 times

LARGEST VALUE IN AN ARRAY OR LIST

In [ ]:
def find_nth_highest_salary(salaries, n):
    # Remove duplicates by converting the list to a set
    unique_salaries = set(salaries)
    # Check if there are at least N unique elements
    if len(unique_salaries) < n:
        return f"The list doesn't have at least {n} unique salaries."
    # Find the Nth highest salary
    nth_highest_salary = sorted(unique_salaries, reverse=True)[n - 1]
    return nth_highest_salary
# Example list of salaries
salary_list = [50000, 60000, 55000, 70000, 60000, 80000, 70000]
n=int(input("Enter a Number Which You want : "))
# Find and print the nth highest salary
nth_highest_salary = find_nth_highest_salary(salary_list, n)
print(f"The nth highest salary is: {nth_highest_salary}")

Enter a Number Which You want : 8
The 3rd highest salary is: The list doesn't have at least 8 unique salaries.

SMALLEST VALUE IN AN ARRAY OR LIST

In [ ]:
def find_nth_smallest_value(values, n):
    # Remove duplicates by converting the list to a set
    unique_values = set(values)

    # Check if there are at least N unique elements
    if len(unique_values) < n:
        return f"The list doesn't have at least {n} unique values."

    # Find the Nth smallest value
    nth_smallest_value = sorted(unique_values)[n - 1]
    return nth_smallest_value

# Example list of values
value_list = [10, 5, 8, 15, 7, 10, 12]
n=int(input("Enter a Number Which You want : "))
# Find and print the nth smallest value
nth_smallest_value = find_nth_smallest_value(value_list, n)
print(f"The nth smallest value is: {nth_smallest_value}")

Enter a Number Which You want : 2
The nth smallest value is: 7

CHECK A YEAR LEAF YEAR OR NOT

In [ ]:
year=int(input("Enter a year  :"))
if(year %4 == 0 and year %100 != 0) or (year %100 ==0):
  print(f" {year} is Leaf Year ")
else:
  print(f"{year} is Not a Leaf Year")

Enter a year  :2024
 2024 is Leaf Year

ASCII VALUE OF A CHARACTER

In [ ]:
char=input("Enter a character : ")
ascii_value=ord(char)
print(f"ASCII value of {char} : {ascii_value}")

Enter a character : A
ASCII value of A : 65

ARMSTRONG NUMBER

In [ ]:
'''An Armstrong number is a special type of number. To check if a number
is an Armstrong number, you follow these steps:

Count the Digits:
Find out how many digits are there in the number.

Raise Each Digit to the Power of the Total Digits:
Take each digit in the number and raise it to the power of the total number of digits.

Sum the Results:
Add up all these results from step 2.

Check if the Sum is Equal to the Original Number:
If the sum from step 3 is equal to the original number, then the number is an Armstrong number.

Here's a simple example with the number 153:
Number: 153
Digits: 3'''


num=int(input("Enter a number : "))
num_str=str(num)
num_digits=len(num_str)
digit_sum=sum(int(digit)**num_digits for digit in num_str)
if num == digit_sum:
  print(f"{num} is Armstrong Number")
else:
  print(f"{num} is Not Armstrong Number")

Enter a number : 153
153 is Armstrong Number

SUM OF ELEMENTS IN AN ARRAY

In [ ]:
#using Sum Function
arr=[1,2,3,4,5]
total = sum(arr)
print(total)
total=sum(arr,10)
print(total)



# Example array
my_array = [10, 5, 8, 15, 7, 10, 12]
# Initialize a variable to store the sum
array_sum = 0
# Loop through each element and add it to the sum
for element in my_array:
    array_sum += element
# Print the result
print(f"The sum of elements in the array is: {array_sum}")

15
25
The sum of elements in the array is: 67

MINIMUM AND MAXIMUM ELEMENT IN AN ARRAY OR LIST

In [ ]:
#MAXIMUM Element
arr=[1,2,3,4,5,10]
max=arr[0]
for i in range(1,len(arr)):
  if arr[i]> max:
    max=arr[i]
print(max)


arr=[1,2,3,4,5,10]
min=arr[0]
for i in range(1,len(arr)):
  if arr[i]<min:
    min=arr[i]
print(min)

10
1

LENGTH OF AN ARRAY

In [ ]:
#using Length function
arr=[1,2,4,3,5,1,3,5,6,7,8]
print(len(arr))

#using count method
arr=[1,2,4,3,5,1,3,5,6,7,8]
count=0
for i in arr:
  count +=1
print(count)

11
11

SEARCH A ELEMENT IN AN ARRAY

In [ ]:
arr=[1,2,3,4,5,2,1,13,6,8,90]
element=int(input("Enter a Element : "))
flag=0
for i in arr:
  if (i==element):
    print("Element found")
    falg=1
    break


  #using   IN operation
arr=[1,2,3,4,5,2,1,13,6,8,90]
element=int(input("Enter a Element : "))
if element in arr:
  print(f"{element}  Element is  Found")
else:
  print(f"{element}  Element is Not Found")

Enter a Element : 8
element found
Enter a Element : 8
8  Element is  Found

TUPLE PACKING AND UNPACKING

In [ ]:
#tuple packing
pack="Bharath","Kumar","Yadav"
print(pack)
print(type(pack))



#tuple unpacking
pack="Bharath",20,"Student"
name,age,ocupation=pack
print(name)
print(age)
print(ocupation)

<class 'tuple'>
Bharath
20
Student

COMPARE TWO VALUES ARE POINTING SAME OBJECT

In [ ]:
a=10
b=10
print(a is b) #using IS operator
result = id(a)==id(b) # using Id For Campare two Values
print(result)

True
True

USE OF ELSE IN FOR LOOP

In [ ]:
fruits=["apple","mango","grapes","cherry"]
for fruit in fruits:
  if fruit == "orange":
    print(f"{fruit} is Found")
    break
  else:
    print(f"{fruit} is not found")

apple is not found
mango is not found
grapes is not found
cherry is not found

USE OF ELSE IN WHILE LOOP

In [ ]:
count =0
while count <5:
  print(f"Count is {count}")
  count +=1
else:
  print("Loop Completed without encountering a break statement")

Count is 0
Count is 1
Count is 2
Count is 3
Count is 4
Loop Completed without encountering a break statement

CHECK PYTHON VERSION

In [ ]:
import sys
python_version=sys.version
print("Python Version is : ",python_version)

Python Version is :  3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]

REFRENCES POINTING TO A PARTICULAR OBJECT

In [ ]:
import sys
my_list=[1,2,3,[1,2]]
ref_count=sys.getrefcount(my_list)
actual_count=ref_count-1
print(actual_count)


x="Bharath Yadav"
y=x
print(sys.getrefcount(x))

1
4

DISPOSE A VARIABLE

In [ ]:
a =10
print(a)
del a
print(a)

10

NameError: name 'a' is not defined

SEPERATE A LIST OF VALUES INTO A COMMA SEPERATED VALUES

In [ ]:
my_list=[1,2,3,4,5]
comma_seperated_string=','.join(map(str,my_list))
print(comma_seperated_string)

1,2,3,4,5

DIFFERENCE BETWEEN APPEND AND EXTEND

In [ ]:
#append
arr=[10,20,30]
arr.append(40)
print(arr)
arr.append([50,60])
print(arr)
#extend
arr=[10,20,30]
print(arr)
arr.extend([50,60])
print(arr)

[10, 20, 30, 40]
[10, 20, 30, 40, [50, 60]]
[10, 20, 30]
[10, 20, 30, 50, 60]

MERGE TWO DICTS

In [ ]:
dict1={'a':1,'b':2}
dict2={'c':3,'d':4}
dict1.update(dict2)
print(dict1)

#using Exponent

dict1={'a':1,'b':2}
dict2={'c':3,'d':4}
merge={**dict1,**dict2}
print(merge)

#using   | operator
dict1={'a':1,'b':2}
dict2={'c':3,'d':4}
merge = dict1| dict2
print(merge)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

HOW TO GENERATE RANDOM NUMBERS

In [ ]:
#using random value
import random
random_number=random.random()
print(random_number)

#using randint
import random
random_number=random.randint(1,10)
print(random_number)

#using shuffle
my_list=[1,2,3,5,7]
random.shuffle(my_list)
print(my_list)

#using choice
my_list=[1,2,3,5,7]
choice=random.choice(my_list)
print(choice)

0.8043548311255034
1
[3, 1, 7, 5, 2]
3

CURRENT DATE AND TIME

In [ ]:
import datetime
current_datetime=datetime.datetime.now()
print(current_datetimeb )

2024-01-07 15:23:46.898451

ANAGRAMS

In [ ]:
def are_anagrams(str1, str2):
    return sorted(str1) == sorted(str2)

print(are_anagrams("listen", "silent"))

True

SET OPERATIONS BETWEEN TWO LISTS

In [ ]:
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
intersection = list(set(list1) & set(list2))
print(intersection)

[3, 4]

MISSING NUMBER IN A SEQUENCE

In [ ]:
def find_missing_number(nums):
    n = len(nums) + 1
    expected_sum = n * (n + 1) // 2
    actual_sum = sum(nums)
    missing_number = expected_sum - actual_sum
    return missing_number

nums = [1, 2, 3, 5]
print(find_missing_number(nums))

4

CLASS DEFINE

In [ ]:
class Student:
  def __init__(self,name,age):
    self.name = name
    self.age = age
  def display(self):
    return (f"My name is {self.name} and i am {self.age} years Old...!")
s=Student("Bharath",20)
s.display()

'My name is Bharath and i am 20 years Old...!'

CODING QUESTIONS

In [ ]:
#accept the input from the users
str_value = input("Enter your Name : ")
int_value = int(input("Enter your age : "))
print(f"My Name is {str_value} and i am {int_value} years old")

Enter your Name : Bharath
Enter your age : 21
My Name is Bharath and i am 21 years old

In [ ]:
#accept the 5 Floating values from Users
numbers =[]
for i in range(0,5):
  print("Enter a Number",i)
  item = float(input())
  numbers.append(item)
print("User li5st",numbers)

#second Method
numbers = [float(input("Enter a Numbers : ")) for i in range(5)]
print("User list",numbers)

Enter a Number 0
10
Enter a Number 1
20
Enter a Number 2
40
Enter a Number 3
0
Enter a Number 4
80
User list [10.0, 20.0, 40.0, 0.0, 80.0]
Enter a Numbers : 99
Enter a Numbers : 99
Enter a Numbers : 00
Enter a Numbers : 88
Enter a Numbers : 77
User list [99.0, 99.0, 0.0, 88.0, 77.0]

In [ ]:
#print the sum of current number and previous number
print("Current and previous number and thier sum range(10) : ")
previous_num = 0
for i in range(1,11):
  x_sum = previous_num +1
  print(f"Current Number { i} Previous Number { previous_num} and Sum {x_sum}")
  previous_num = i

Current and previous number and thier sum range(10) :
Current Number 1 Previous Number 0 and Sum 1
Current Number 2 Previous Number 1 and Sum 2
Current Number 3 Previous Number 2 and Sum 3
Current Number 4 Previous Number 3 and Sum 4
Current Number 5 Previous Number 4 and Sum 5
Current Number 6 Previous Number 5 and Sum 6
Current Number 7 Previous Number 6 and Sum 7
Current Number 8 Previous Number 7 and Sum 8
Current Number 9 Previous Number 8 and Sum 9
Current Number 10 Previous Number 9 and Sum 10

In [ ]:
#Check if the First and Last are Same Or Not
def first(numbers):
  print("Given List ",numbers)
  first_num = numbers[0]
  last_num = numbers[-1]
  if first_num == last_num:
    return True
  else:
    return False

x = [10,20,30,40,50,10]
print("Result is : ",first(x))
y = [10,20,40,60,50,40]
print("Result is : ",first(y))

Given List  [10, 20, 30, 40, 50, 10]
Result is :  True
Given List  [10, 20, 40, 60, 50, 40]
Result is :  False

In [ ]:
# i have One set Could You please add a list of elements to a set
my_set = {"Teja", "Samrin" , "Sivani"}
my_list =["Ajay","Bharath"]
my_set.update(my_list)
print(my_set)

{'Sivani', 'Teja', 'Bharath', 'Samrin', 'Ajay'}

In [ ]:
# i have One list could you please add  set of elements to a List
my_set = {"Teja", "Samrin" , "Sivani"}
my_list =["Ajay","Bharath"]
my_list.append(my_set)
print(my_list)

In [ ]:
#return a new set of identical ites from two sets
set_1 = {"20","30","40","50"}
set_2 = {"20","40","60","80"}
new_set = set_1.intersection(set_2)
print(new_set)

{'20', '40'}

In [ ]:
#Display the Numbers that are Divisible by 5 from a list
list_1 = [10,20,40,33,50,20,55,550]
print("Given List : ",list_1)
for i in list_1:
  if (i % 5) ==0:
    print(i)


#second method
list_2 = [10,20,40,33,50,20,55,550]
divisible_by_5 = [i for i in list_2 if i %5 ==0]
print(divisible_by_5)

Given List :  [10, 20, 40, 33, 50, 20, 55, 550]
10
20
40
50
20
55
550
[10, 20, 40, 50, 20, 55, 550]

In [ ]:
#print the following pattern
# 1 2
# 1 2 3
# 1 2 3 4
# 1 2 3 4 5
row = int(input("Enter a Number : "))
for i in range(row):
  for j in range(i+1):
    print(j+1,end=" ")
  print()

Enter a Number : 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#print the pattern
# 5 4 3 2 1
# 4 3 2 1
# 3 2 1
# 2 1
# 1


for i in range(5,0,-1):
  for j in range(i,0,-1):
    print(j,end = " ")
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
#print the pattern
# *
# * *
# * * *
# * * * *
# * * * * *

for i in range(1,6):
  for j in range(i):
    print("*",end = " ")
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
# print the pattern
#     1
#    2 3
#   1 2 3
#  1 2 3 4
# 1 2 3 4 5

n = 5
for i in range(1,n+1):
  for j in range(n-i):
    print( "",end=" ")
  for j in range(1,i+1):
    print(j,end = " ")
  print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [ ]:
#
s = "Bharath"
s2 = s
s += "Yadav"
print(s)

BharathYadav

In [ ]:
#Display numbers from a list using loop
#       The numbers must be divisible by 5
#       If the number is greater than 150 , then skip it and move to the next number
#       If the number is greater than 500, then stop the loop

numbers=[10,20,30,20,300,2333,201]
print("Original list",numbers)
for i in numbers:
  if i %5 == 0:
    print(i)
  elif i >150:
    continue
  elif i >500:
    break

Original list [10, 20, 30, 20, 300, 2333, 201]
10
20
30
20
300

In [ ]:
#Count the total number of digits in a number
num =int(input("Enter the Number : "))
count = 0
while num !=0:
  num = num//10
  count +=1
print("Total digits are : ",count)


#Second method
a = int(input("Enter the Number : "))
print("total digits are : ",len(str(a)))

Enter the Number : 4533434454354
Total digits are :  13
Enter the Number : 5454334545455
total digits are :  13

In [ ]:
#write a program to display all prime numbers with in the range
start = int(input("Enter a Number : "))
end  = int(input("Enter a Number : "))
print(f"The Prime the Numbers are between the range of {start} and {end}")
for num in range(start,end+1):
  if num > 1:
    for i in range(2,num):
      if (num %i) ==0:
        break
    else:
      print(num)

Enter a Number : 1
Enter a Number : 50
The Prime the Numbers are between the range of 1 and 50
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
#Calculate the cube of all numbers from 1 to a given Number
input_num = int(input("Enter a Number : "))
for i in range(1,input_num+1):
  print(f"Current number is : {i} and the cube is {i*i*i}")

Enter a Number : 4
Current number is : 1 and the cube is 1
Current number is : 2 and the cube is 8
Current number is : 3 and the cube is 27
Current number is : 4 and the cube is 64

In [ ]:
#Create a function with variable length of arguments
def fun1(*a):
  for i in a:
    print(i)

fun1(10,20,30,40)
fun1(50,3,5,12,34,1)

10
20
30
40
50
3
5
12
34
1

In [ ]:
#Return multiple values from a Function
def calculation(a,b):
  add = a+b
  sub = a-b
  return add,sub
res = calculation(40,50)
print(res)

(90, -10)

In [ ]:
#Create a function with a default arguments
def employee(name,salary=25000):
  print(f"My Name is {name} and i had an Salary of {salary}")
employee("Kumar",24000)
employee("Bharath")

My Name is Kumar and i had an Salary of 24000
My Name is Bharath and i had an Salary of 25000

In [ ]:
def outer_fun(a,b):
  def addition(a,b):
    return a+b
  add = addition(a,b)
  return add+5
res =outer_fun(10,5)
print(res)

20

In [ ]:
#Assign a different  name to function and call it through the new name
def func1(name,age):
  print(name,age)
func1("Bharath",27)
new_name = func1
new_name("Kumar",27)
new_name("Yadav",28)

Bharath 27
Kumar 27
Yadav 28

In [ ]:
#Find the largest value in the Given List
def  find_largest_number(my_list):
  largest_number = max(my_list)
  return largest_number
my_list =[10,22,33,44,22,33,444,222,44,555,5554]
res = find_largest_number(my_list)
print(f"The largest number in the list : {res}")

The largest number in the list : 5554

In [ ]:
#Display first letter's of your Name using Functions
def get_first_letter(string):
  words=string.split()
  first_letter = [word[0] for word in words]
  res_string = "".join(first_letter)
  return res_string
input_1 = input("Enter the Name : ")
print(f"The first letter of {input_1}",get_first_letter(input_1))

Enter the Name : Bharath Kumar
The first letter of Bharath Kumar BK

In [ ]:
#Count all letters, digits and special symbols from a given string
def find_digits(sample_str):
    char_count = 0
    digit_count = 0
    symbols_count = 0
    for char in sample_str:
        if char.isalnum():
            char_count += 1
        elif char.isdigit():
            digit_count += 1
        else:
            symbols_count += 1
    print("Chars =", char_count, ", digits =", digit_count, ", symbols =", symbols_count)

# Test the function
sample_str = "Hello! 123 World"
find_digits(sample_str)

Chars = 13 , digits = 0 , symbols = 3

In [ ]:
#Write a program to count of all characters with in a string
str1 ="Hi Everyone welcome to KumarBharath524 youtube channel"
char_dict = dict()
for char in str1:
  count = str1.count(char)
  char_dict[char] = count
print("Result : ",char_dict)




#second method
from collections import Counter
str1 = "Apple"
char_dict = dict(Counter(str1))
print("Result : ",char_dict)

Result :  {'H': 1, 'i': 1, ' ': 6, 'E': 1, 'v': 1, 'e': 6, 'r': 3, 'y': 2, 'o': 4, 'n': 3, 'w': 1, 'l': 2, 'c': 2, 'm': 2, 't': 3, 'K': 1, 'u': 3, 'a': 4, 'B': 1, 'h': 3, '5': 1, '2': 1, '4': 1, 'b': 1}
Result :  {'A': 1, 'p': 2, 'l': 1, 'e': 1}

In [ ]:
#Reverse a given string
str1 = "KumarBharath"
print("Orginal String : ",str1)
str1 = str1[::-1]
print("Reversed String : ",str1)

#Second method
str1 = "KumarBharath"
print("Orginal String : ",str1)
str1 = "".join(reversed(str1))
print("Reversed String : ",str1)

Orginal String :  KumarBharath
Reversed String :  htarahBramuK
Orginal String :  KumarBharath
Reversed String :  htarahBramuK

In [ ]:
#Create a list by picking an odd-index items from the list and even index items from the second
list1=[11,2,13,12,3,34,54,345,6]
list2=[23,213,34,5,36,5,63,56,7]
res = list()
odd_ele = list1[1::2]
print("Elements at odd-index from list one : ")
print(odd_ele)
even_ele = list2[0::2]
print("Elememts at even-index from list two : ")
print(even_ele)
print("Final list ")
res.extend(odd_ele)
res.extend(even_ele)
print(res)

Elements at odd-index from list one :
[2, 12, 34, 345]
Elememts at even-index from list two :
[23, 34, 36, 63, 7]
Final list
[2, 12, 34, 345, 23, 34, 36, 63, 7]

In [ ]:
#find the odd and even numbers from a list in python
my_list = [12,334,23,4,234,5,54,533,522,52,43]
odd_num =[]
even_num = []
for num in my_list:
  if num %2 ==0:
    even_num.append(num)
  else:
    odd_num.append(num)
print(odd_num)
print(even_num)

[23, 5, 533, 43]
[12, 334, 4, 234, 54, 522, 52]

In [ ]:
#Create a python set such that it shows the element from both lists in a pair
first_list =[10,20,30,40]
print(first_list)
second_list =[50,60,70,80]
print(second_list)
res = zip(first_list,second_list)
res_set = set(res)
print(res_set)

[10, 20, 30, 40]
[50, 60, 70, 80]
{(10, 50), (40, 80), (20, 60), (30, 70)}

In [ ]:
#find the intersection (common)  of the two sets and remove those elements from te first set

first_set = {10, 20, 30, 40}
second_set = {50, 60, 70, 80, 10}

# Find the intersection of the two sets
intersection_set = first_set.intersection(second_set)
print("Intersection of the two sets:", intersection_set)

# Remove elements from the first set based on the intersection
for item in intersection_set:
    first_set.remove(item)

print("After removing elements, first_set is:", first_set)

Intersection of the two sets: {10}
After removing elements, first_set is: {40, 20, 30}

In [ ]:
#checks if one set is a subset or superset of another set.If found, delete all elements from that set

first_set = {40,44,45}
second_set ={49,45,44,40,33,21,32,22}
#subset
res_1=first_set.issubset(second_set)
print(res_1)
res_2 = second_set.issubset(first_set)
print(res_2)
#superset
res_1=first_set.issuperset(second_set)
print(res_1)
res_2=second_set.issuperset(first_set)
print(res_2)
if first_set.issubset(second_set):
  first_set.clear()
if second_set.issubset(first_set):
  second_set.clear()

print(first_set)
print(second_set)

True
False
False
True
set()
{32, 33, 40, 44, 45, 49, 21, 22}

In [ ]:
#iterate a given list and check if a given element exists as a key's value in a dictionary.If not , delete it from the list.

list_1=[10,20,30,40,50,0,30]
dict_1={"Kumar":25,"Bharath":20,"Ram":50}
roll_num = [item for item in list_1 if item in dict_1.values()]
print(roll_num)

list_2=list()
for val in dict_1.values():
  if val not in list_2:
    list_2.append(val)
print(list_2)

[20, 50]
[25, 20, 50]

In [ ]:
#turn every item of a list into its square
numbers=[2,3,4,5,6,7]
list_1=[]
for i in numbers:
  list_1.append(i*i)
print(list_1)
#second method
numbers=[2,3,4,5,6,7]
res=[i*i for i in numbers]
print(res)

[4, 9, 16, 25, 36, 49]
[4, 9, 16, 25, 36, 49]

In [ ]:
#concatenate the two lists index-wise
list_1=[10,20,30,40]
list_2=[50,60,70,80]
list_3=[]
for i in range(len(list_1)):
  list_3.append(list_1[i]+list_2[i])
print(list_3)

#second method
list_1=[10,20,30,40]
list_2=[50,60,70,80]
list_3=[list_1[i]+list_2[i] for i in range(len(list_1))]
print(list_3)

[60, 80, 100, 120]
[60, 80, 100, 120]

In [ ]:
#convert two lists into a dictionary
keys=["Ten","Twenty","Thiry"]
values=[10,20,30]
sample_dict=dict()
for i in range(len(keys)):
  sample_dict.update({keys[i]:values[i]})
print(sample_dict)
#second type
keys=["Ten","Twenty","Thiry"]
values=[10,20,30]
sample_dict=dict(zip(keys,values))
print(sample_dict)

{'Ten': 10, 'Twenty': 20, 'Thiry': 30}
{'Ten': 10, 'Twenty': 20, 'Thiry': 30}

In [ ]:
#merge two dictionaries
dict_1={"Ten":10,"Twenty":20,"Thiry":30}
dict_2={10:"Ten",20:"Twenty",30:"Thirty"}
dict_3={**dict_1,**dict_2}
print(dict_3)

#second method
dict_1={"Ten":10,"Twenty":20,"Thiry":30}
dict_2={10:"Ten",20:"Twenty",30:"Thirty"}
dict_3=dict_1.copy()
dict_3.update(dict_2)
print(dict_3)

{'Ten': 10, 'Twenty': 20, 'Thiry': 30, 10: 'Ten', 20: 'Twenty', 30: 'Thirty'}
{'Ten': 10, 'Twenty': 20, 'Thiry': 30, 10: 'Ten', 20: 'Twenty', 30: 'Thirty'}

In [ ]:
#Create a dictionary by extracting the keys from a given dictionary
sample_dict={
    "Name":"Bharath Yadav",
    "Age" : 21,
    "Role":"Python Developer"
}
for i in sample_dict.keys():
  print(i)

Name
Age
Role

In [ ]:
#Create a dictionary by extracting the values from a given dictionary
sample_dict={
    "Name":"Bharath Yadav",
    "Age" : 21,
    "Role":"Python Developer"
}
for i in sample_dict.values():
  print(i)

Bharath Yadav
21
Python Developer

In [ ]:
#given a list of dictionariees and prnt out the 'name' and 'age' and 'salary'
employees = [
    {"Name": "Bharath", "Age": 25, "Salary": 30000, "City": "Hyd"},
    {"Name": "Ravi", "Age": 25, "Salary": 90000, "City": "Bangalore"},
    {"Name": "Adharsh", "Age": 25, "Salary": 60000, "City": "Ananthapuram"}
]

for employee in employees:
    name = employee["Name"]
    salary = employee["Salary"]
    age = employee["Age"]
    print(f"Name: {name}, Age: {age}, Salary: {salary}")

Name: Bharath, Age: 25, Salary: 30000
Name: Ravi, Age: 25, Salary: 90000
Name: Adharsh, Age: 25, Salary: 60000

In [ ]:
#get the key of a minimum value from the dictionary
sample_dict={
    "Maths":90,
    "Social":98,
    "Science":89
}
print(min(sample_dict,key=sample_dict.get))

Science

In [ ]:
#get the key and value of a minimum value from the dictionary
sample_dict={
    "Maths":90,
    "Social":98,
    "Science":89
}

min_value=min(sample_dict.values())
for key,value in sample_dict.items():
  if value == min_value:
    min_key = key
    break
print(f"The key '{min_key}' has the minimum value of {min_value}")

The key 'Science' has the minimum value of 89

In [ ]:
#write a python program to check if a dictionary is empty or not
sample_dict=dict()
if bool(sample_dict):
  print("Dict is not Empty :")
else:
  print("Dict is Empty")

sample_dict={"Name":"Bharath Yadav"}
if bool(sample_dict):
  print("Dict is not Empty ")
else:
  print("Dict is Empty ")

Dict is Empty
Dict is not Empty :

In [ ]:
#combine two dictionary adding values fro common keys
from collections import Counter
d1={"a":100,"b":200,"c":300}
d2={"a":200,"b":300,"c":400}
d=Counter(d1)+Counter(d2)
print(d)

Counter({'c': 700, 'b': 500, 'a': 300})

In [ ]:
#Generate 3 random integers between 100 and 999 whcih are divisible by 5
import random
for num in range(3):
  print(random.randrange(100,999,5),end=" ,")

935 ,295 ,630 ,

In [ ]:
#Random lottery pick. Generate 100 random lottery tickets and pick two lucky tickets from it as a winner.
import random

lottery_tickets = []
for _ in range(100):
    lottery_tickets.append(random.randrange(100000000, 999999999))

winners = random.sample(lottery_tickets, 2)
print("Lucky winners:", winners)

Lucky winners: [752737836, 513440883]

In [ ]:
#Generate 6 digit random secure OTP
import secrets

otp = secrets.randbelow(999999 - 100000) + 100000
print(f"Secure random OTP is : {otp}")

Secure random OTP is : 893081

In [ ]:
#calculate multiplication of two random float numbers

import random
num1=random.random()
print(num1)
num2=random.uniform(9.5,99.5)
num3=num1*num2
print(num3)

0.08965935554565774
1.968817607724946

In [ ]:
n =int(input("enter a number "))
es=[i for i in range(1,n+1) if i%2 != 1]
print(es)

enter a number 100
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
s=[1,2,3,4,5,6,7,3,1,2,4,35,6,1]
change=set(s)
print(type(change))
change_2=list(change)
print(change_2)
print(type(change_2))

<class 'set'>
[1, 2, 3, 4, 5, 6, 7, 35]
<class 'list'>

In [ ]:
s = [1, 2, 3, 4, 5, 6, 7, 3, 1, 2, 4, 35, 6, 1]

for i in range(len(s)):
    if s[i] != s[i-1]:
        print(i)
    else:
        break

In [ ]:
list_1=['a','b','c','d','e']
print(list_1[10:])

[]